*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 75%;
  -ms-text-size-adjust: 75%;
  -webkit-text-size-adjust: 75%;
}

body {
  color: #111;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden],
.hidden {
  display: none;
}

.cfix {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  zoom: 1;
}

.cfix:before, .cfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
}

.cfix:after {
  clear: both;
}

.hard-right {
  float: right;
}

.ard-left {
  float: left;
}

h1, .h1 {
  font-size: 26px;
  font-size: 2.2rem;
}

h2, .h2 {
  font-size: 24px;
  font-size: 2rem;
}

h3, .h3 {
  font-size: 19px;
  font-size: 1.6rem;
}

h4, .h4 {
  font-size: 17px;
  font-size: 1.4rem;
}

h5, .h5,
h6, .h6 {
  font-style: italic;
  font-size: 14px;
  font-size: 1.2rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h4,
h6, .h6 {
  color: #444;
  font-size-adjust: inherit;
  font-weight: bold;
  line-height: 1.625;
  margin: 0 0 24px;
  margin: 0 0 2rem;
}

p {
  font-size-adjust: inherit;
  line-height: 1.625;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  -epub-word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  font-size: 12px;
  font-size: 1rem;
  margin: 0 0 17px 0;
  margin: 0 0 1.4rem 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong,
.bold {
  font-weight: bold;
}

dfn,
i,
.italics {
  font-style: italic;
}

large,
.large {
  font-size: 14px;
  font-size: 1.2rem;
}

small,
.small {
  font-size: 0.8em;
}

sub,
.sub,
sup,
.sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
}

sup,
.sup {
  top: -0.5em;
}

sub,
.sub {
  bottom: -0.25em;
}

blockquote,
.blockquote {
  font-size-adjust: inherit;
  margin: 12px 48px;
  margin: 1rem 4rem;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size-adjust: inherit;
  font-size: 17px;
  font-size: 1.4rem;
}

pre {
  font-size-adjust: inherit;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 12px 0;
  margin: 1rem 0;
}

mark {
  background: #ffdc00;
  color: #111;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

hgroup {
  margin-bottom: 24px;
  margin-bottom: 2rem;
}

hgroup > h1,
hgroup > h2,
hgroup > h3,
hgroup > h4,
hgroup > h5,
hgroup > h6 {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  *margin-left: -7px;
  white-space: normal;
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: sans-serif;
  vertical-align: baseline;
  *vertical-align: middle;
  font-size: 1em;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
  -moz-appearance: button;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  *height: 13px;
  *width: 13px;
  padding: 0;
}

input[type="search"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -moz-appearance: none;
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure,
.figure {
  margin: 0;
}

a {
  text-decoration: none;
  -o-transition: color 0.3s ease-in-out 0;
  -moz-transition: color 0.3s ease-in-out 0;
  -webkit-transition: color 0.3s ease-in-out 0;
  transition: color 0.3s ease-in-out 0;
}

a:link {
  color: #b10dc9;
}

a:visited {
  color: #b10dc9;
}

a:hover {
  color: #85144b;
}

a:active {
  color: #85144b;
}

a:link, a:hover, a:active {
  -o-transition: color 0.3s ease-in-out 0;
  -moz-transition: color 0.3s ease-in-out 0;
  -webkit-transition: color 0.3s ease-in-out 0;
  transition: color 0.3s ease-in-out 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

dl, menu, ol, ul {
  margin: 24px 0;
  margin: 2rem 0;
  padding: 0 0 0 24px;
  padding: 0 0 0 2rem;
}

dl,
ul {
  font-size: 12px;
  font-size: 1rem;
}

dd,
dt,
li {
  line-height: 1.625;
}

li {
  margin: 0 0 5px;
  margin: 0 0 0.4rem;
}

dd {
  margin: 0 0 5px 24px;
  margin: 0 0 0.4rem 2rem;
}

nav ol,
nav ul {
  list-style: none;
  list-style-image: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th,
tr {
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-left: 1rem;
  padding-right: 12px;
  padding-right: 1rem;
  width: 100%;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 751px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-left: 1rem;
    padding-right: 12px;
    padding-right: 1rem;
    width: 750px;
  }
  .container:before, .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
}

@media (min-width: 971px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-left: 1rem;
    padding-right: 12px;
    padding-right: 1rem;
    width: 970px;
  }
  .container:before, .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
}

@media (min-width: 1171px) {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-left: 1rem;
    padding-right: 12px;
    padding-right: 1rem;
    width: 1170px;
  }
  .container:before, .container:after {
    content: " ";
    display: table;
  }
  .container:after {
    clear: both;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-left: 1rem;
  padding-right: 12px;
  padding-right: 1rem;
  width: 100%;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -12px;
  margin-left: -1rem;
  margin-right: -12px;
  margin-right: -1rem;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1 {
  width: 100%;
}

.col-xs-2 {
  width: 100%;
}

.col-xs-3 {
  width: 100%;
}

.col-xs-4 {
  width: 100%;
}

.col-xs-5 {
  width: 100%;
}

.col-xs-6 {
  width: 100%;
}

.col-xs-7 {
  width: 100%;
}

.col-xs-8 {
  width: 100%;
}

.col-xs-9 {
  width: 100%;
}

.col-xs-10 {
  width: 100%;
}

.col-xs-11 {
  width: 100%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-1 {
  right: 100%;
}

.col-xs-pull-2 {
  right: 100%;
}

.col-xs-pull-3 {
  right: 100%;
}

.col-xs-pull-4 {
  right: 100%;
}

.col-xs-pull-5 {
  right: 100%;
}

.col-xs-pull-6 {
  right: 100%;
}

.col-xs-pull-7 {
  right: 100%;
}

.col-xs-pull-8 {
  right: 100%;
}

.col-xs-pull-9 {
  right: 100%;
}

.col-xs-pull-10 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 100%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-1 {
  left: 100%;
}

.col-xs-push-2 {
  left: 100%;
}

.col-xs-push-3 {
  left: 100%;
}

.col-xs-push-4 {
  left: 100%;
}

.col-xs-push-5 {
  left: 100%;
}

.col-xs-push-6 {
  left: 100%;
}

.col-xs-push-7 {
  left: 100%;
}

.col-xs-push-8 {
  left: 100%;
}

.col-xs-push-9 {
  left: 100%;
}

.col-xs-push-10 {
  left: 100%;
}

.col-xs-push-11 {
  left: 100%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-1 {
  margin-left: 100%;
}

.col-xs-offset-2 {
  margin-left: 100%;
}

.col-xs-offset-3 {
  margin-left: 100%;
}

.col-xs-offset-4 {
  margin-left: 100%;
}

.col-xs-offset-5 {
  margin-left: 100%;
}

.col-xs-offset-6 {
  margin-left: 100%;
}

.col-xs-offset-7 {
  margin-left: 100%;
}

.col-xs-offset-8 {
  margin-left: 100%;
}

.col-xs-offset-9 {
  margin-left: 100%;
}

.col-xs-offset-10 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 100%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-sm-1 {
  width: 100%;
}

.col-sm-2 {
  width: 100%;
}

.col-sm-3 {
  width: 100%;
}

.col-sm-4 {
  width: 100%;
}

.col-sm-5 {
  width: 100%;
}

.col-sm-6 {
  width: 100%;
}

.col-sm-7 {
  width: 100%;
}

.col-sm-8 {
  width: 100%;
}

.col-sm-9 {
  width: 100%;
}

.col-sm-10 {
  width: 100%;
}

.col-sm-11 {
  width: 100%;
}

.col-sm-12 {
  width: 100%;
}

.col-sm-pull-1 {
  right: 100%;
}

.col-sm-pull-2 {
  right: 100%;
}

.col-sm-pull-3 {
  right: 100%;
}

.col-sm-pull-4 {
  right: 100%;
}

.col-sm-pull-5 {
  right: 100%;
}

.col-sm-pull-6 {
  right: 100%;
}

.col-sm-pull-7 {
  right: 100%;
}

.col-sm-pull-8 {
  right: 100%;
}

.col-sm-pull-9 {
  right: 100%;
}

.col-sm-pull-10 {
  right: 100%;
}

.col-sm-pull-11 {
  right: 100%;
}

.col-sm-pull-12 {
  right: 100%;
}

.col-sm-push-1 {
  left: 100%;
}

.col-sm-push-2 {
  left: 100%;
}

.col-sm-push-3 {
  left: 100%;
}

.col-sm-push-4 {
  left: 100%;
}

.col-sm-push-5 {
  left: 100%;
}

.col-sm-push-6 {
  left: 100%;
}

.col-sm-push-7 {
  left: 100%;
}

.col-sm-push-8 {
  left: 100%;
}

.col-sm-push-9 {
  left: 100%;
}

.col-sm-push-10 {
  left: 100%;
}

.col-sm-push-11 {
  left: 100%;
}

.col-sm-push-12 {
  left: 100%;
}

.col-sm-offset-1 {
  margin-left: 100%;
}

.col-sm-offset-2 {
  margin-left: 100%;
}

.col-sm-offset-3 {
  margin-left: 100%;
}

.col-sm-offset-4 {
  margin-left: 100%;
}

.col-sm-offset-5 {
  margin-left: 100%;
}

.col-sm-offset-6 {
  margin-left: 100%;
}

.col-sm-offset-7 {
  margin-left: 100%;
}

.col-sm-offset-8 {
  margin-left: 100%;
}

.col-sm-offset-9 {
  margin-left: 100%;
}

.col-sm-offset-10 {
  margin-left: 100%;
}

.col-sm-offset-11 {
  margin-left: 100%;
}

.col-sm-offset-12 {
  margin-left: 100%;
}

.col-md-1 {
  width: 100%;
}

.col-md-2 {
  width: 100%;
}

.col-md-3 {
  width: 100%;
}

.col-md-4 {
  width: 100%;
}

.col-md-5 {
  width: 100%;
}

.col-md-6 {
  width: 100%;
}

.col-md-7 {
  width: 100%;
}

.col-md-8 {
  width: 100%;
}

.col-md-9 {
  width: 100%;
}

.col-md-10 {
  width: 100%;
}

.col-md-11 {
  width: 100%;
}

.col-md-12 {
  width: 100%;
}

.col-md-pull-1 {
  right: 100%;
}

.col-md-pull-2 {
  right: 100%;
}

.col-md-pull-3 {
  right: 100%;
}

.col-md-pull-4 {
  right: 100%;
}

.col-md-pull-5 {
  right: 100%;
}

.col-md-pull-6 {
  right: 100%;
}

.col-md-pull-7 {
  right: 100%;
}

.col-md-pull-8 {
  right: 100%;
}

.col-md-pull-9 {
  right: 100%;
}

.col-md-pull-10 {
  right: 100%;
}

.col-md-pull-11 {
  right: 100%;
}

.col-md-pull-12 {
  right: 100%;
}

.col-md-push-1 {
  left: 100%;
}

.col-md-push-2 {
  left: 100%;
}

.col-md-push-3 {
  left: 100%;
}

.col-md-push-4 {
  left: 100%;
}

.col-md-push-5 {
  left: 100%;
}

.col-md-push-6 {
  left: 100%;
}

.col-md-push-7 {
  left: 100%;
}

.col-md-push-8 {
  left: 100%;
}

.col-md-push-9 {
  left: 100%;
}

.col-md-push-10 {
  left: 100%;
}

.col-md-push-11 {
  left: 100%;
}

.col-md-push-12 {
  left: 100%;
}

.col-md-offset-1 {
  margin-left: 100%;
}

.col-md-offset-2 {
  margin-left: 100%;
}

.col-md-offset-3 {
  margin-left: 100%;
}

.col-md-offset-4 {
  margin-left: 100%;
}

.col-md-offset-5 {
  margin-left: 100%;
}

.col-md-offset-6 {
  margin-left: 100%;
}

.col-md-offset-7 {
  margin-left: 100%;
}

.col-md-offset-8 {
  margin-left: 100%;
}

.col-md-offset-9 {
  margin-left: 100%;
}

.col-md-offset-10 {
  margin-left: 100%;
}

.col-md-offset-11 {
  margin-left: 100%;
}

.col-md-offset-12 {
  margin-left: 100%;
}

.col-lg-1 {
  width: 100%;
}

.col-lg-2 {
  width: 100%;
}

.col-lg-3 {
  width: 100%;
}

.col-lg-4 {
  width: 100%;
}

.col-lg-5 {
  width: 100%;
}

.col-lg-6 {
  width: 100%;
}

.col-lg-7 {
  width: 100%;
}

.col-lg-8 {
  width: 100%;
}

.col-lg-9 {
  width: 100%;
}

.col-lg-10 {
  width: 100%;
}

.col-lg-11 {
  width: 100%;
}

.col-lg-12 {
  width: 100%;
}

.col-lg-pull-1 {
  right: 100%;
}

.col-lg-pull-2 {
  right: 100%;
}

.col-lg-pull-3 {
  right: 100%;
}

.col-lg-pull-4 {
  right: 100%;
}

.col-lg-pull-5 {
  right: 100%;
}

.col-lg-pull-6 {
  right: 100%;
}

.col-lg-pull-7 {
  right: 100%;
}

.col-lg-pull-8 {
  right: 100%;
}

.col-lg-pull-9 {
  right: 100%;
}

.col-lg-pull-10 {
  right: 100%;
}

.col-lg-pull-11 {
  right: 100%;
}

.col-lg-pull-12 {
  right: 100%;
}

.col-lg-push-1 {
  left: 100%;
}

.col-lg-push-2 {
  left: 100%;
}

.col-lg-push-3 {
  left: 100%;
}

.col-lg-push-4 {
  left: 100%;
}

.col-lg-push-5 {
  left: 100%;
}

.col-lg-push-6 {
  left: 100%;
}

.col-lg-push-7 {
  left: 100%;
}

.col-lg-push-8 {
  left: 100%;
}

.col-lg-push-9 {
  left: 100%;
}

.col-lg-push-10 {
  left: 100%;
}

.col-lg-push-11 {
  left: 100%;
}

.col-lg-push-12 {
  left: 100%;
}

.col-lg-offset-1 {
  margin-left: 100%;
}

.col-lg-offset-2 {
  margin-left: 100%;
}

.col-lg-offset-3 {
  margin-left: 100%;
}

.col-lg-offset-4 {
  margin-left: 100%;
}

.col-lg-offset-5 {
  margin-left: 100%;
}

.col-lg-offset-6 {
  margin-left: 100%;
}

.col-lg-offset-7 {
  margin-left: 100%;
}

.col-lg-offset-8 {
  margin-left: 100%;
}

.col-lg-offset-9 {
  margin-left: 100%;
}

.col-lg-offset-10 {
  margin-left: 100%;
}

.col-lg-offset-11 {
  margin-left: 100%;
}

.col-lg-offset-12 {
  margin-left: 100%;
}

@media (min-width: 601px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-pull-1 {
    right: 8.33333%;
  }
  .col-sm-pull-2 {
    right: 16.66667%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-4 {
    right: 33.33333%;
  }
  .col-sm-pull-5 {
    right: 41.66667%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-7 {
    right: 58.33333%;
  }
  .col-sm-pull-8 {
    right: 66.66667%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-10 {
    right: 83.33333%;
  }
  .col-sm-pull-11 {
    right: 91.66667%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-push-1 {
    left: 8.33333%;
  }
  .col-sm-push-2 {
    left: 16.66667%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-4 {
    left: 33.33333%;
  }
  .col-sm-push-5 {
    left: 41.66667%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-7 {
    left: 58.33333%;
  }
  .col-sm-push-8 {
    left: 66.66667%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-10 {
    left: 83.33333%;
  }
  .col-sm-push-11 {
    left: 91.66667%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 751px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-1 {
    right: 8.33333%;
  }
  .col-md-pull-2 {
    right: 16.66667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.33333%;
  }
  .col-md-pull-5 {
    right: 41.66667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.33333%;
  }
  .col-md-pull-8 {
    right: 66.66667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.33333%;
  }
  .col-md-pull-11 {
    right: 91.66667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-1 {
    left: 8.33333%;
  }
  .col-md-push-2 {
    left: 16.66667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.33333%;
  }
  .col-md-push-5 {
    left: 41.66667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.33333%;
  }
  .col-md-push-8 {
    left: 66.66667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.33333%;
  }
  .col-md-push-11 {
    left: 91.66667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 971px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-pull-1 {
    right: 8.33333%;
  }
  .col-lg-pull-2 {
    right: 16.66667%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-4 {
    right: 33.33333%;
  }
  .col-lg-pull-5 {
    right: 41.66667%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-7 {
    right: 58.33333%;
  }
  .col-lg-pull-8 {
    right: 66.66667%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-10 {
    right: 83.33333%;
  }
  .col-lg-pull-11 {
    right: 91.66667%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-push-1 {
    left: 8.33333%;
  }
  .col-lg-push-2 {
    left: 16.66667%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-4 {
    left: 33.33333%;
  }
  .col-lg-push-5 {
    left: 41.66667%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-7 {
    left: 58.33333%;
  }
  .col-lg-push-8 {
    left: 66.66667%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-10 {
    left: 83.33333%;
  }
  .col-lg-push-11 {
    left: 91.66667%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

*[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-left: 12px;
  padding-left: 1rem;
  padding-right: 12px;
  padding-right: 1rem;
  position: relative;
}

.spacerVert {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a#sreset,
.btn {
  background: #fff;
  border: 1px solid #aaa;
  color: #444;
  -webkit-border-radius: 7px;
  -webkit-border-radius: 0.6rem;
  border-radius: 7px;
  border-radius: 0.6rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 1rem;
  padding: 7px 14px;
  padding: 0.6rem 1.2rem;
  display: inline-block;
}

a#sreset:hover,
.btn:hover {
  background: #cccccc;
  border-color: #444444;
}

a#sreset {
  cursor: pointer;
}

.btn-sm-sq {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 1rem;
  padding: 7px 14px;
  padding: 0.6rem 1.2rem;
}

.btn-sm {
  -webkit-border-radius: 7px;
  -webkit-border-radius: 0.6rem;
  border-radius: 7px;
  border-radius: 0.6rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 1rem;
  padding: 7px 14px;
  padding: 0.6rem 1.2rem;
}

.btn-med-sq {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  font-size: 1.2rem;
  padding: 9px 17px;
  padding: 0.72rem 1.44rem;
}

.btn-med {
  -webkit-border-radius: 9px;
  -webkit-border-radius: 0.72rem;
  border-radius: 9px;
  border-radius: 0.72rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 14px;
  font-size: 1.2rem;
  padding: 9px 17px;
  padding: 0.72rem 1.44rem;
}

.btn-lg-sq {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 17px;
  font-size: 1.4rem;
  padding: 10px 20px;
  padding: 0.84rem 1.68rem;
}

.btn-lg {
  -webkit-border-radius: 10px;
  -webkit-border-radius: 0.84rem;
  border-radius: 10px;
  border-radius: 0.84rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 17px;
  font-size: 1.4rem;
  padding: 10px 20px;
  padding: 0.84rem 1.68rem;
}

.btn-xl-sq {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 22px;
  font-size: 1.8rem;
  padding: 13px 26px;
  padding: 1.08rem 2.16rem;
}

.btn-xl {
  -webkit-border-radius: 13px;
  -webkit-border-radius: 1.08rem;
  border-radius: 13px;
  border-radius: 1.08rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 22px;
  font-size: 1.8rem;
  padding: 13px 26px;
  padding: 1.08rem 2.16rem;
}

.btn-super-sq {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 36px;
  font-size: 3rem;
  padding: 22px 43px;
  padding: 1.8rem 3.6rem;
}

.btn-super {
  -webkit-border-radius: 22px;
  -webkit-border-radius: 1.8rem;
  border-radius: 22px;
  border-radius: 1.8rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 36px;
  font-size: 3rem;
  padding: 22px 43px;
  padding: 1.8rem 3.6rem;
}

.btn-default {
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #333333;
}

.btn-default:hover {
  background: #cccccc;
  border: 1px solid #b3b3b3;
}

.btn-invert {
  background: #444;
  border: 1px solid #2b2b2b;
  color: #fff;
}

.btn-invert:hover {
  background: #111111;
  border: 1px solid black;
}

.btn-primary {
  background: #0074d9;
  border: 1px solid #0059a6;
  color: #fff;
}

.btn-primary:hover {
  background: #003d73;
  border: 1px solid #002240;
}

.btn-info {
  background: #ffdc00;
  border: 1px solid #ccb000;
  color: black;
}

.btn-info:hover {
  background: #998400;
  border: 1px solid #665800;
  color: #fff;
}

.btn-warn {
  background: #ff851b;
  border: 1px solid #e76b00;
  color: #fff;
}

.btn-warn:hover {
  background: #b45400;
  border: 1px solid #813c00;
}

.btn-true {
  background: #2ecc40;
  border: 1px solid #25a233;
  color: #fff;
}

.btn-true:hover {
  background: #1b7926;
  border: 1px solid #124f19;
}

.btn-false {
  background: #ff4136;
  border: 1px solid #ff1103;
  color: #fff;
}

.btn-false:hover {
  background: #cf0b00;
  border: 1px solid #9c0900;
}

*[class*='btngroup'] {
  overflow: auto;
  display: table;
}

*[class*='btngroup'] .btn {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

*[class*='btngroup'] .btn:first-child {
  -webkit-border-radius: 7px 0 0 7px;
  -webkit-border-radius: 0.6rem 0 0 0.6rem;
  border-radius: 7px 0 0 7px;
  border-radius: 0.6rem 0 0 0.6rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

*[class*='btngroup'] .btn:last-child {
  -webkit-border-radius: 0 7px 7px 0;
  -webkit-border-radius: 0 0.6rem 0.6rem 0;
  border-radius: 0 7px 7px 0;
  border-radius: 0 0.6rem 0.6rem 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

*[class*='btngroup'] .btn:first-child.btn:last-child {
  -webkit-border-radius: 7px;
  -webkit-border-radius: 0.6rem;
  border-radius: 7px;
  border-radius: 0.6rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.btngroup-sq .btn:first-child,
.btngroup-sq .btn:last-child {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.btngroup-maxi .btn {
  width: 100%;
}

.img-tiny {
  width: 40px;
}

.img-sm {
  width: 80px;
}

.img-med {
  width: 160px;
}

.img-lg {
  width: 320px;
}

.img-xl {
  width: 640px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea,
select {
  padding: 6px;
  border: 1px solid #aaa;
}

input[type="text"][disabled],
input[type="email"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="search"][disabled],
textarea[disabled],
select[disabled] {
  background: #ddd;
}

input[type="range"], input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
}

input[type="checkbox"],
input[type="radio"] {
  height: 20px;
  width: 20px;
}

input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

label {
  margin-right: 6px;
  margin-right: 0.5rem;
}

.input-row {
  clear: both;
  margin-bottom: 12px;
  margin-bottom: 1rem;
}

.input-row label {
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}

.input-xs, .input-sm, .input-med, .input-lg {
  width: 50px;
  -webkit-border-radius: 48px;
  -webkit-border-radius: 4rem;
  border-radius: 48px;
  border-radius: 4rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.input-sm {
  width: 100px;
}

.input-med {
  width: 200px;
}

.input-lg {
  width: 300px;
}

.input-append, .input-prepend {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
}

.input-append .btn, .input-append .prepended, .input-append .appended, .input-prepend .btn, .input-prepend .prepended, .input-prepend .appended {
  float: left;
}

.input-prepend .prepended {
  -webkit-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 0.4rem 0.4rem 0;
  border-radius: 0 5px 5px 0;
  border-radius: 0 0.4rem 0.4rem 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.input-prepend .btn {
  -webkit-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 0.4rem 0 0 0.4rem;
  border-radius: 5px 0 0 5px;
  border-radius: 0.4rem 0 0 0.4rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.input-append .appended {
  -webkit-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 0.4rem 0 0 0.4rem;
  border-radius: 5px 0 0 5px;
  border-radius: 0.4rem 0 0 0.4rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.input-append .btn {
  -webkit-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 0.4rem 0.4rem 0;
  border-radius: 0 5px 5px 0;
  border-radius: 0 0.4rem 0.4rem 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.btngroup a, .btngroup :visited {
  color: #111;
}

.btngroup a.btn-invert {
  color: #ddd;
}

.boxalpha {
  border: 1px solid #000;
  padding: 10px;
}

.newBox {
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 5px 5px 10px 0 black;
  box-shadow: 5px 5px 10px 0 black;
}

.userListing thead th {
  background: #444;
  color: #fff;
}

.userListing tbody tr:nth-child(even) {
  background: #fff;
}

.userListing th, .userListing td {
  padding: 6px 4px;
}

.centerify {
  margin: auto;
  text-align: center;
}

.masterContainer {
  margin: 20px 0;
}

.empSearch label,
.empSearch input[type="text"],
.empSearch input[type="email"],
.empSearch input[type="password"],
.empSearch input[type="date"],
.empSearch input[type="datetime"],
.empSearch input[type="datetime-local"],
.empSearch input[type="week"],
.empSearch input[type="month"],
.empSearch input[type="number"],
.empSearch input[type="tel"],
.empSearch input[type="url"],
.empSearch input[type="search"],
.empSearch textarea,
.empSearch select {
  width: 100%;
  -webkit-border-radius: 48px;
  -webkit-border-radius: 4rem;
  border-radius: 48px;
  border-radius: 4rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.empSortOpt label,
.empSortOpt input[type="text"],
.empSortOpt input[type="email"],
.empSortOpt input[type="password"],
.empSortOpt input[type="date"],
.empSortOpt input[type="datetime"],
.empSortOpt input[type="datetime-local"],
.empSortOpt input[type="week"],
.empSortOpt input[type="month"],
.empSortOpt input[type="number"],
.empSortOpt input[type="tel"],
.empSortOpt input[type="url"],
.empSortOpt input[type="search"],
.empSortOpt textarea,
.empSortOpt select {
  width: auto;
  -webkit-border-radius: 48px;
  -webkit-border-radius: 4rem;
  border-radius: 48px;
  border-radius: 4rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.empSortOpt .input-row {
  padding: 0 1rem;
}

.empSortOpt .input-row .innerDiv {
  padding-right: 1rem;
}

.mainName {
  display: inline-block;
}

.boxalpha-inner {
  background: #ddd;
  border-radius: 6px;
  padding: 1rem;
  border: 1px solid #444;
}

/*# sourceMappingURL=main.css.map */