// =======================================
// 
// vars.scss
// base var file
//
// =======================================

// =======================================
// 
// COLOURS
//
// =======================================

// == Grayscale
$white : #fff;
$silver : #ddd;
$gray : #aaa;
$darkGray : #444;
$black : #111;

// == Cool
$aqua : #7fdbff;
$blue : #0074d9;
$navy : #001f3f;
$teal : #39cccc;
$green : #2ecc40;
$olive : #3d9970;
$lime : #01ff70;

// == Warm
$yellow : #ffdc00;
$orange : #ff851b;
$red : #ff4136;
$fuchsia : #f012be;
$purple : #b10dc9;
$maroon : #85144b;

// == brand colours
$primary : #f00;
$secondary : #00f;
$tertiary : #a0a;
$colour1 : $primary;
$colour2 : $secondary;
$colour3 : $tertiary;

// =======================================
//
// FONTS
//
// =======================================

$basefonts : Verdana, Helvetica, Arial, sans-serif;
$codefonts : monospace, serif;
$codefonts_b : 'courier new', monospace;
$baseLineHeight : 1.625;
$baseMultiplier : 75;
// 62.5 = 10px / 75 = 12px / 87.5 = 14px / 100 = 16px etc...

// =======================================
//
// GRIDS
//
// =======================================

$grid-columns : 12 !default;

// == pixel gutters
//$grid-gutter-width : 30px !default;

// == REM gutters
$grid-gutter-width: 2rem !default;

// =======================================
//
// BREAKS
//
// =======================================

// == extra small
$screen-xs : 600px !default;

// == small
$screen-sm-min : $screen-xs + 1;
$screen-sm : 750px !default;

// == medium
$screen-md-min : $screen-sm + 1;
$screen-md : 970px !default;

// == large
$screen-lg-min : $screen-md + 1;
$screen-lg : 1170px !default;

// == extra large
$screen-xl-min : $screen-lg + 1;