// === find bad HTML and flag !

/* Empty Elements */

div:empty,
span:empty,
li:empty,
p:empty,
td:empty,
th:empty,
h1:empty {
    border  : 2px dotted yellow !important;
    padding : 20px;
}

/* Empty Attributes */
*[alt=""],
*[title=""],
*[class=""],
*[id=""],
a[href=""],
a[href="#"] {
    border : 2px dashed yellow !important;
}

/* Deprecated Elements */
applet,
basefont,
center,
dir,
font,
isindex,
menu,
s,
strike,
u {
    border : 2px dotted red !important;
}

/* Deprecated Attributes */
*[background],
*[bgcolor],
*[clear],
*[color],
*[compact],
*[noshade],
*[nowrap],
*[size],
*[start],
*[bottommargin],
*[leftmargin],
*[rightmargin],
*[topmargin],
*[marginheight],
*[marginwidth],
*[alink],
*[link],
*[text],
*[vlink],
*[align],
*[valign],
*[hspace],
*[vspace],
*[height],
*[width],
ul[type],
ol[type],
li[type] {
    border : 2px solid red !important;
}

/* Proposed Deprecated Elements */
input[type="button"],
big,
tt {
    border : 2px dotted #33ff00 !important;
}

/* Proposed Deprecated Attributes */
*[border],
a[target],
table[cellpadding],
table[cellspacing],
*[name] {
    border : 2px solid #33ff00 !important;
}