// baseline list item normalise

dl, menu, ol, ul {
    @include sizing(rem, margin, 2, 0);
    @include sizing(rem, padding, 0, 0, 0, 2);
}

dl,
ul {
    @include sizing(rem, font-size, 1);
}

dd,
dt,
li {
    line-height : $baseLineHeight;
}

li {
    @include sizing(rem, margin, 0, 0, .4);
}

dd {
    @include sizing(rem, margin, 0, 0, .4, 2);
}

// == images in nav override fixes
nav ol,
nav ul {
    list-style       : none;
    list-style-image : none;
}