// catch buttons without styling classes
a#sreset,
.btn {
    background : $white;
    border     : 1px solid $gray;
    color      : $darkGray;
    @include box-radius(.6);
    @include sizing(rem, font-size, 1);
    @include sizing(rem, padding, .6, 1.2);
    &:hover {
        background   : darken($white, 20%);
        border-color : darken($gray, 40%);
    }
    display: inline-block;
}
a#sreset {
        cursor: pointer;
}

// set up button styling classes
// @include buttonSize( CLASSEXTENDER, FONTSIZE (for padding and scaling), ROUNDEDCORNERS [true/false] );

@include buttonSize(sm-sq, 1, false);
@include buttonSize(sm, 1, true);
@include buttonSize(med-sq, 1.2, false);
@include buttonSize(med, 1.2, true);
@include buttonSize(lg-sq, 1.4, false);
@include buttonSize(lg, 1.4, true);
@include buttonSize(xl-sq, 1.8, false);
@include buttonSize(xl, 1.8, true);
@include buttonSize(super-sq, 3, false);
@include buttonSize(super, 3, true);

// @include buttonType( CLASSEXTENDER, COLOUR );
@include buttonType(default, $white);
@include buttonType(invert, $darkGray);
@include buttonType(primary, $blue);
@include buttonType(info, $yellow);
@include buttonType(warn, $orange);
@include buttonType(true, $green);
@include buttonType(false, $red);

*[class*='btngroup'] {
    overflow : auto;
    display  : table;
    .btn {
        @include box-radius(0);
    }
    .btn:first-child {
        @include box-radius(.6, 0, 0, .6);
    }
    .btn:last-child {
        @include box-radius(0, .6, .6, 0);
    }
    .btn:first-child.btn:last-child {
        @include box-radius(.6);
    }
}

.btngroup-sq {
    .btn:first-child,
    .btn:last-child {
        @include box-radius(0);
    }
}
.btngroup-maxi {
    .btn {
        width: 100%;
    }
}
